<html>
<head>
    <meta charset="utf-8"/>
    <title>Update Info</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/styles.css"/>
</head>

<body>
  <div class="topnav">
    <a href="/"><b>HOME</b></a>
    <a href="/profile"><b>MY PROFILE</b></a>
    <a href="/edit"><b>UPDATE PROFILE</b></a>
    <div class="search-container">
      <form action="/search" method="get">
      <input type="text" placeholder="Search.." name="search">
      <input type="submit" value="Search">
      </form>
    </div>
    <div class="topnav-right">
        <a href="{{ url }}"><b>LOGOUT</b></a>
    </div>
  </div>
<div class="main-container">
	<div class="title">UPDATE YOUR PROFILE</div>
    <table>
        <form method="post" action="/edit">
		{% for i in data %}
		{% if i.user_id == my_user.key.id() %}
			<tr>
				<td>
				Username :
				</td>
                <td>
                    <input type="text" class="text-input" id="input-username" name="username" placeholder="Please select a username for your profile..."
					value="{{ i.username }}" readonly/>
					<span class="validity"></span>
                </td>
			</tr>
			<tr>
				<td>
				First Name :
				</td>
                <td>
                    <input type="text" class="text-input" name="fname" placeholder="First Name"
					title="Please enter your first name" value="{{ i.first_name }}" required/>
                </td>
			</tr>
			<tr>
				<td>
				Last Name :
				</td>
                <td>
                    <input type="text" class="text-input" name="lname" placeholder="Last Name"
					title="Please enter your last name" value="{{ i.last_name }}" required/>
                </td>
			</tr>

			<tr>
				<td>
				Write About Yourself :
				</td>
                <td>
					<textarea class="textarea" name="about" placeholder="Tell about yourself..." maxlength="280"
					title="Please enter some information about yourself" required>{{ i.about }}</textarea>
                </td>
			</tr>
			<tr>
				<td>
				Date of birth :
				</td>
				<td>
                    <input type="date" class="text-input" name="dob" value="{{ i.dob }}" required/>
                </td>
			</tr>
			<tr>
                <td class="button_row">
                    <input type="submit" class="button" name="button" value="Update">
                </td>
            </tr>
			{% endif %}
			{% endfor %}
        </form>
    </table>

</div>
</body>

</html>
