<html>
<head>
    <meta charset="utf-8"/>
    <title>Twitter</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/styles.css"/>
</head>

<body>
{% if my_user.username == None %}
	<div class="form-title">Please <a href="/register">register</a> first to access all the features of this application</div>
{% else %}
<div class="topnav">
  <a href="/"><b>HOME</b></a>
  <a href="/profile"><b>MY PROFILE</b></a>
  <a href="/edit"><b>UPDATE PROFILE</b></a>
  <div class="search-container">
    <form action="/search" method="get">
    <input type="text" placeholder="Search.." name="search">
    <input type="submit" value="Search">
    </form>
  </div>
  <div class="topnav-right">
      <a href="{{ url }}"><b>LOGOUT</b></a>
  </div>
</div>

<div class="twitt-container">
	<div class="left-twitt-container">
		<div class="profile">
			<div class="pic">

			{% for i in userinfo %}
				{% if value == i.username %}
				<div class="name">{{ i.first_name }} {{ i.last_name }}</div>
				<div class="username"><a href="/user?name={{ i.username }}">@{{ i.username }}</a></div>
				<div class="about">{{ i.about }}</div>
					{% if value == my_user.username %}
							<div></div>
					{% else %}
						{% if value in my_user.following %}
								<div class="follow-button">
									<form method="post" action="/follow">
										<input type="hidden" class="text-input" id="input-username" name="username" value="{{ i.username }}"/>
										<input type="submit" name="button" value="unfollow"/>
									</form>
								</div>
							{% else %}
								<div class="follow-button">
									<form method="post" action="/follow">
										<input type="hidden" class="text-input" id="input-username" name="username" value="{{ i.username }}" readonly/>
										<input type="submit" name="button" value="follow"/>
									</form>
								</div>
							{% endif %}
					{% endif %}
				{% endif %}

			{% endfor %}

			</div>
		</div>

	</div>
	<div class="right-twitt-container">
		<div class="title">Tweets</div>
		{% for i in tweets %}
			{% if value == i.username %}
		<div class="tweet-content">
			<div class="left"></div>
			<div class="right">
				<div class="title">{{ i.username }} <span style="font-size:12px;color:#c5bfbf;">@{{ i.username }}</span></div>
				<div class="content">{{ i.content }}</div>

			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div>

{% endif %}
</body>

</html>
